body{
    font-family: "Montserrat Alternates", sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
}
.container{
}
/* ------------------------------------------------------------------------------- */
.under_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 110px;
    margin-left: 110px;
    margin-top: 30px;
}
.title{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color:#F86501;
}
.div_date, .div_company {
    font-size: 14px;
    line-height: 21px;
    color:#494646;
}
.div_date{
    font-weight: 600;
}
.div_company{
    font-weight: 400;
}
.div_date input[type="date"], .div_company select {
    border: 2px solid #D9D9D9;
    border-radius: 12px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 30px;
}
.div_date input[type="date"]{
    width: 170px;
}
.div_company select{
    width: 581px;
}
.shesterenka_img{
    width: 40px;
    height: 40px;
    margin-left: 80px;
    margin-right: 80px;
}
/* ------------------------------------------------------------------------------- */
.main{
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-column-gap:130px;
    margin: auto;
    justify-content: center;
}
.diagramma_link{
    display: block;
    width: 400px;
    height: 400px;
}
.diagramma_div{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.diagramma_title{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
    color:#494646;
}
.diagramma_itog{
    width: 80%;
    text-align: center;
    background-color: #30AD43;
    padding: 10px;
    border-radius: 5px;

    font-family: "Roboto Mono", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color:#FFFFFF;
}