/* ------------------------------VSE_DIAGRAMMI.HTML------------------------------------------------- */
body{
    font-family: "Montserrat Alternates", sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
}
.container{
}
input{
    border: 2px solid #D9D9D9;
    border-radius: 12px;
    padding: 11px;
}
.row{
    display: flex;
  }
  .collumn{
    display: flex;
    flex-direction: column;
  }
/* ------------------------------------------------------------------------------- */
.under_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 110px;
    margin-top: 30px;
}
.title{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color:#F86501;
}
.div_date, .div_company {
    font-size: 14px;
    line-height: 21px;
    color:#494646;
}
.div_date{
    font-weight: 600;
}
.probel{
    width: 30px;
}
.div_company{
    font-weight: 400;
    margin-left: 60px;
}
.div_company select {
    border: 2px solid #D9D9D9;
    border-radius: 12px;
    padding: 11px;
} 
.div_date input[type="date"]{
    width: 170px;
}
.date_text{
    margin-right: 8px;
}
.div_company select{
    width: 581px;
    margin-left: 8px;
}
.shesterenka_img{
    width: 40px;
    height: 40px;
    margin-left: 80px;
    margin-right: 80px;
}
/* ------------------------------------------------------------------------------- */
.main{
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-column-gap:130px;
    margin: auto;
    justify-content: center;
}
.diagramma_link{
    display: block;
    width: 400px;
    height: 400px;
}
.diagramma_div{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.diagramma_title{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
    color:#494646;
}
.diagramma_itog{
    width: 80%;
    text-align: center;
    background-color: #30AD43;
    padding: 10px;
    border-radius: 5px;

    font-family: "Roboto Mono", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color:#FFFFFF;
}
/* ------------------------------DIAGRAMMA_INFO.HTML------------------------------------------------- */
.diagramma_main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .info_block {
    display: flex;
    align-items: center;
  }
  
  .diagramma_block, .pokazateli_block {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .pokazateli_block{
    overflow-y: auto;
  }
  .grafik_block{
    width: 100%;
    height: 600px;
  }
  .stick{
    height: 500px;
    width: 3px;
    background-color: #001E44;
    border-radius: 8px;
  }
  .nastroiki{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    flex-direction: row;
  }
  .search_btn{
    font-family: "Montserrat Alternates", sans-serif;
    padding: 8px 60px;
    background-color: #001E44;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;

  }
  .tire{
    width: 5px;
    background-color: #494646;
    height: 2px;
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
  }
 
  .clear_btn{
    margin-left: 30px;
    display: flex;
    align-items: end;
  }
  .clear_img{
    vertical-align: middle;
  }
  .scrollable_content{
    display: flex;
    flex-direction: column;
  }
  .pokazateli_row{
    display: flex;
    justify-content: space-evenly;
    align-items:end;
    flex-direction: row;
    margin-top: 30px;
  }
  .pokazateli_title, .number{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

  }
  .number{
    width: 80px;
    text-align: center;
    margin-bottom: 4px;
  }
  .pokazatel_date input[type="date"]{
    width: 170px;
}
  .pokazatel input[type="text"]{
    width: 450px;
}