*{
	margin:0;
	padding:0;
}
body{
    font-family: "Montserrat Alternates", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

.flex_parent {
	border: 1px solid red;
	display: -webkit-flex; 
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
	padding:20px;
	align-items: flex-start;
	width:calc(100% - 42px);
}

.div_col{
	border:1px solid green;
	margin:5px;
	padding:10px;
}

.width_5{width:5%;}
.width_10{width:10%;}
.width_15{width:15%;}
.width_20{width:20%;}
.width_25{width:25%;}
.width_30{width:30%;}
.width_33{width:33%;}
.width_35{width:35%;}
.width_40{width:40%;}
.width_45{width:45%;}
.width_50{width:50%;}
.width_55{width:55%;}
.width_60{width:60%;}
.width_65{width:65%;}
.width_70{width:70%;}
.width_75{width:75%;}
.width_80{width:80%;}
.width_85{width:85%;}
.width_90{width:90%;}
.width_95{width:95%;}
.width_100{width:100%;}

